<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Sagar ji ka Suite" parallel="tests" thread-count="2">


	<test name="chrome test" preserve-order="true" parallel="false">


		<groups>
			<run>
				<exclude name="group a"></exclude>
			</run>

		</groups>

		<classes>


			<class name="interviewCodes.InterviewCodes">


			</class>

		</classes>
	</test> <!-- Test -->




</suite> <!-- Suite -->
